asgiref
atomicwrites
Django
django-filter
django-advanced-filters
django-allauth
django-crispy-forms
django-debug-toolbar
django-utils-six
djangorestframework
djangorestframework-filters
gevent
gevent-websocket
importlib-metadata
mixer
packaging
pytest
pytest-cov
pytest-django


typing_extensions
virtualenv
virtualenv-clone