{% extends 'main.html' %}


{%block content%}
    <!-- Container for the notice details -->
    <div class="container my-5">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card rounded-2 border-1" style="box-shadow: 0 0 10px rgba(7, 28, 145, 0.596);">
                        <div class="card-body">
                        <div class="card text-center">
                                <div class="card-header">
                                    <h4>Important Notice</h4>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Sender : {{notice.sender}}</h5>
                                    <h5 class="card-title"> Receiver {{notice.receiver}}</h5>
                                    <h5 class="card-title"> Subject : {{notice.subject}}</h5>
                                    <h5 class="card-title">Time and Date : {{notice.date_sent}}</h5>
    <br><hr><br>
                                    <div class="card rounded-2 border-1 text-left" style="box-shadow: 0 0 10px rgba(7, 28, 145, 0.26); padding: 40px; text-align: left;">
                                        {{ notice.body }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{%endblock%}